[bot]
token = "REPLACE WITH YOUR TOKEN"
activity = "REPLACE THIS"
description = "REPLACE THIS"
prefix = "?"

[vars]
autorole_name = 'REPLACE THIS'
welcome_channel = "REPLACE THIS"
logging_channel = 'REPLACE THIS'

[keys]
cuttly_key = "REPLACE THIS" # https://cutt.ly/api-documentation